<section id="secondarySection">
  <div class="">
    <div class="row mx-0">
      <a
        routerLink="/fitness-pros"
        routerLinkActive="active"
        class="col-sm-4 mobile-pading-12 blogMenu derlimn-font"
        >Fitness pros</a
      >
      <a
        routerLink="/fitness-center"
        routerLinkActive="active"
        class="col-sm-4 mobile-pading-12 blogMenu derlimn-font"
        >Fitness centers</a
      >
      <a
        routerLink="/fitness-models"
        routerLinkActive="active"
        class="col-sm-4 mobile-pading-12 blogMenu derlimn-font"
        style="border: none"
        >Fitness models</a
      >
    </div>
  </div>
</section>
