.container1 {
  margin: 0 auto;
  max-width: 1150px;
  width: 100%;
}
.side-image {
  display: inline-block;
  width: 35%;
  margin-top: 40px;
}
.side-image img {
  /* height: 127%; */
  max-width: 110%;
}
.form {
  display: inline-block;
  width: 64%;
  text-align: center;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #ff0000;
  font-family: Poppins;
  font-weight: 900;
}
.form h1 {
  font-family: "britannic";
  font-size: 50px;
  color: #5a5a5a;
}
form {
  display: block;
  margin-top: 0em;
  margin-block-end: 1em;
}
input {
  outline: none;
}
.form img,
input[type="text"],
input[type="email"],
.input-field {
  max-width: 525px;
  width: 100%;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 15px 30px;
  margin-top: 25px;
  border: none;
  background-color: #f2f4f9;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  /* font-size: 17px; */
}

input[type="password"] {
  max-width: 525px;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f4f9;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  /* font-size: 17px; */
}

#check-field {
  text-align: left;
}
.input-group {
  margin-top: 25px;
}
.col {
  display: flex;
}
.input-group {
  max-width: 525px;
  width: 100%;
  margin: 10px auto 25px auto;
}
.btnNext {
  background: #5a5a5a 0% 0% no-repeat padding-box;
  border-radius: 30px;
  padding: 11px 46px;
  color: #fff;
  font-size: 20px;
  font-family: Poppins;
  display: block;
  margin: 35px auto;
  border: none;
  outline: none;
  cursor: pointer;
}
.errorMsg {
  display: flex;
  justify-content: flex-start !important;
}

@media only screen and (max-width: 1024px) {
  .login{
    padding: 0px 10px;
    width: 100%;
   
   
  }
  .side-image {
    display: none;
    width: 100%;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
}
