<section id="">
  <div class="container1">
    <div class="side-image">
      <img
        src="../../../../../assets/images/lady-img.png"
        alt="Girl doing exercise"
      />
    </div>
    <div class="form">
      <a href="/"
        ><img
          src="../../../../../assets/images/logo.png"
          alt="Fitstar Pro Logo"
      /></a>
      <h1>Forgot Password</h1>
      <form [formGroup]="ForgetPasswordForm" (ngSubmit)="submitForm()">
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          value="DPKhpYdiqMb2cJ7H4FUvpWR4EUpJkKetxihCmgShGewsugjyWYypCyPPjUKYsZT5"
        />

        <div class="input-field">
          <input
            type="text"
            placeholder="Email"
            [ngClass]="{
              'is-invalid': submitted && f.email.errors
            }"
            formControlName="email"
          />
        </div>
        <div *ngIf="submitted && f?.email?.errors" class="invalid-feedback">
          <div *ngIf="f.email?.errors?.required" class="errorMsg">
            Email is required
          </div>
          <div *ngIf="f.email?.errors?.pattern" class="errorMsg">
            In-Valid Email Pattern
          </div>
        </div>
        <button class="btnNext" type="submit">Confirm Email</button>
      </form>
    </div>
  </div>
</section>
