#banner {
  background: #f2f4f9 0% 0% no-repeat padding-box;
}
.leftSide h1 {
  font: normal normal bold 80px Britannic;
  color: #5a5a5a;
}
.rightSide img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}
