* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea {
  // text-indent: 10px;
}

ul {
  list-style: none;

  li {
    display: inline-block;
    background-color: red;
    margin: 5px; // space between circles
    border-radius: 50%;

    a {
      color: white;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      height: 50px;
      width: 50px;
      pointer-events: none;

      &:hover,
      &:active {
        color: lightsalmon;
        text-decoration: none;
      }
    }
  }
}
.icon-size {
  font-size: 20px;
}

.success_storyForm {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  padding: 27px;
  border-radius: 20px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
  background-color: #ff1a1a;
  color: #fff;
  font-size: 1.3vw;
  font-weight: 600;
}
input:read-only {
  cursor: no-drop;
}

.border-have {
  border: 1 px solid red;
}
.border-none {
  border: 2px solid yellow;
}
.update_btn {
  border: none;
  padding: 10px 0;
  width: 120px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  background-color: #5a5a5a;
  color: white;
}
.edit_ico {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff1a1a;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 21px;
  margin-left: 10px;
}
.edit_ico i {
  color: white;
  font-size: 23px;
}
.pi {
  font-weight: normal;
  font-style: normal;
  font-size: 21px !important;
}
.form-control {
  /* padding: 15px 30px; */
  margin-top: 25px;
  border: none;
  background-color: #f2f4f9;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
input {
  padding-left: 12px;
}
.VideoHeading h2 {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  // font: normal normal normal 90px DELIRIUM NCV;
  font-size: 100px;
  font-weight: 500;
  font-family: DELIRIUM NCV;
  color: #5a5a5a;
  font-weight: 500;
}
.derlimn-font {
  font-family: "DELIRIUM" !important;
}
