<section id="ambassadors" class="mt-5">
    <div class="container">
        <h2>Top Fitness Pros</h2>
        <div class="things slick-initialized slick-slider" id="wrapper">
            <div class="slick-list draggable" style="padding: 0px 50px">
                <div class="slick-track" style="
            opacity: 1;
            width: 1050px;
            transform: translate3d(0px, 0px, 0px);
          ">
                    <div class="items slick-slide slick-current slick-center" data-slick-index="0" aria-hidden="true"
                        tabindex="0" style="width: 250px">
                        <div class="ad_card"
                            style="background-image: url('../../../../../assets/images/gym-freak.jpg')">
                            <div class="ads_card_banner poppins">
                                <a href="/pro/75" tabindex="-1">
                                    <h4 style="
                      color: #ffffff;
                      font-family: 'Poppins';
                      font-size: 15px;
                    ">
                                        qayyum
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>