<section id="secondarySection">
    <div class="">
        <div class="row mx-0">
            <a routerLink="/blog/all" routerLinkActive="active" class=" blogMenu derlimn-font">All</a>
            <a routerLink="/blog/nutrition" routerLinkActive="active" class=" blogMenu derlimn-font">Nutrition</a>
            <a routerLink="/blog/recipes" routerLinkActive="active" class=" blogMenu derlimn-font">Recipes</a>
            <a routerLink="/blog/workouts" routerLinkActive="active" class=" blogMenu derlimn-font">Workouts</a>
            <a routerLink="/blog/reviews" routerLinkActive="active" class=" blogMenu derlimn-font">Reviews</a>
            <a routerLink="/blog/podcasts" routerLinkActive="active" class=" blogMenu derlimn-font">Podcasts</a>
            <a routerLink="/blog/music" routerLinkActive="active" class=" blogMenu derlimn-font"
                style="border: none">Music</a>
        </div>
    </div>
</section>