<section id="whoWeAre" class="mb-50">
  <div class="container">
    <div class="row">
      <div class="whoLeftSide col-md-6">
        <img [src]="aboutUsObject?.aboutUsBannerImage" />
      </div>
      <div class="whoRightSide col-md-6">
        <h2 class="derlimn-font">{{ aboutUsObject?.aboutUsMainHeading }}</h2>
        <h3 class="derlimn-font">{{ aboutUsObject?.bannerTitle }}</h3>
        <p>{{ aboutUsObject?.aboutUsDetails }}</p>
        <a href="/about-us"> <span>-</span> FIND OUT MORE</a>
      </div>
    </div>
  </div>
</section>
