<div class="blog-detail-wrapper">
    <section class="mt-5  mb-5" style="margin-bottom: 50px">
        <div class="container">
            <div class="row mb-5">
                <div class="col-sm-4 col-12">
                    <h5 class="blog-heading">{{item.category}}<span style="color: #969393;font-size: 20px"> |
                            {{item.createdAt|date:'medium'}}</span></h5>
                    <div class="clearfix mt-3">
                        <img src="{{item.featuredImageOne}}"
                            style="width: 70px;height: 70px;border-radius: 50px;float: left">
                        <div style="padding-left: 20px">
                            <span
                                style="margin-top: 10px;position: absolute;margin-left: 20px;">{{item.authorName}}</span><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-12 blog-main">
                    <h3 class="blog-heading">{{item.title}}</h3>

                    <!-- <div style="margin-top: 10px; cursor:pointer;">
                        <form action="/blog_heart_counter/" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                value="GpFnXtx7QhnibDDeEofPoJOLzm2tYcE4o9n1AlsybHhoyzwGFQEiDnN8Knr83DCz">
                            <input type="text" hidden="" value="100" name="blog_id">
                        </form>
                    </div> -->

                    <p style="color: #969393;font-size: 15px">{{item.description}}</p>
                    <div class="row">
                        <div class="col-12 mt-5">
                            <a [href]="" target="_blank"><i class="px-1 cursor-pointer"><img
                                        src="../../../../../assets/images/facebook.png" alt="" /></i></a>
                            <a [href]="" target="_blank"><i class="px-1 cursor-pointer"><img
                                        src="../../../../../assets/images/linkedin.png" alt="" /></i></a>
                            <a [href]="" target="_blank"><i class="px-1 cursor-pointer"><img
                                        src="../../../../../assets/images/twitter.png" alt="" /></i></a>
                            <a [href]="" target="_blank"><i class="px-1 cursor-pointer"><img
                                        src="../../../../../assets/images/pinterest.png" alt="" /></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <img src="{{item.featuredImageOne}}" class="blogImage" style="width: 100%;">
                </div>
                <div class="col-sm-6 col-12">
                    <img src="{{item.featuredImageTwo}}" class="blogImage" style="width: 100%;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-5">
                    <p class="poppins" style="color: #5b5858; word-break: break-all;">{{item.description}}</p>
                </div>
            </div>

        </div>

    </section>
</div>