<section class="mt-5">
  <div class="container-fluid">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="row padingMobile">
        <div class="col-sm-3 col-12 my-1">
          <input name="name" value="" type="text" id="name" class="form-control" placeholder="Name"
            formControlName="name" />
        </div>
        <div class="col-sm-3 col-12 my-1">

          <ng-container *ngIf="_role === 'pro'">
            <!-- <option placeholder="Select an Specialty" value="{{ data.name }}" *ngFor="let data of specialistsList">
                {{ data.name }}
              </option> -->
            <p-dropdown class="py-1" [options]="specialistsList" formControlName="specialities" class="w-100"
              optionLabel="name" optionValue="name" placeholder="Select a specialities"></p-dropdown>
          </ng-container>

          <ng-container *ngIf="_role === 'modal'">
            <!-- <option value="{{ data.name }}" *ngFor="let data of modelingInterest">
                {{ data.name }}
              </option> -->
            <p-dropdown class="py-1" [options]="modelingInterest" formControlName="specialities" class="w-100"
              optionLabel="name" optionValue="name" placeholder="Select an Interest"></p-dropdown>
          </ng-container>
          <ng-container *ngIf="_role === 'center'">
            <!-- <option value="{{ data.name }}" *ngFor="let data of activitieslist">
                {{ data.name }}
              </option> -->
            <p-dropdown class="py-1" [options]="activitieslist" formControlName="specialities" class="w-100"
              optionLabel="name" optionValue="name" placeholder="Select Fitness center Type"></p-dropdown>
          </ng-container>

        </div>
        <div class="col-sm-3 col-12 my-1">
          <input name="location" value="" id="location" formControlName="location" type="text"
            class="form-control pac-target-input" placeholder="Location" autocomplete="off" />
        </div>

        <div class="col-sm-3 col-12 text-center my-1">
          <button style="margin-top: 0px" class="btn-custom" type="submit">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</section>


<section class="mt-5 pt-5 mb-5" style="background: #f1f4f8">
  <div class="container">
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr *ngIf="_role === 'pro'">
              <th>Fitness Pro</th>
              <th>Name</th>
              <th>Languages</th>
              <th>Specialty</th>
            </tr>
            <tr *ngIf="_role === 'center'">
              <th>Fitness Center</th>
              <th>Name</th>
              <th>Languages</th>
              <th>Type</th>
              <th>Open Since</th>
            </tr>
            <tr *ngIf="_role === 'modal'">
              <th>Fitness Model</th>
              <th>Name</th>
              <th>Experience</th>
              <th>Ethnicity</th>
              <th>Modeling Activities</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let item of itemList">
              <ng-container *ngIf="item.role === 'pro'">
                <tr>
                  <td>
                    <a [routerLink]="['../myaccount/', item._id]" [state]="item"><img [src]="
                        item.image !== ''
                          ? item.image
                          : 'https://www.kindpng.com/picc/m/59-597441_clip-art-fitness-models-pics-portable-network-graphics.png'
                      " style="width: 100px" /></a>
                  </td>
                  <td>{{ item?.fullName }}</td>
                  <td>
                    <span *ngFor="let language of item?.proAbout?.qualifications?.languages">
                      {{ language.name}}
                    </span>
                  </td>
                  <td>{{ item?.proAbout?.qualifications?.specialities }}</td>

                </tr>
              </ng-container>
            </ng-container>

            <ng-container *ngFor="let item of itemList">
              <ng-container *ngIf="item.role === 'center'">
                <tr>
                  <td>
                    <a [routerLink]="['../myaccount/', item._id]" [state]="item"><img [src]="
                          item.image !== ''
                            ? item.image
                            : 'https://www.kindpng.com/picc/m/59-597441_clip-art-fitness-models-pics-portable-network-graphics.png'
                        " style="width: 100px" /></a>
                  </td>
                  <!-- <td [routerLink]="['../myaccount/', item._id]"> <img src="{{item?.centerAbout?.image}}" alt=""></td> -->
                  <td>{{ item?.fullName }}</td>
                  <td>{{ item?.centerAbout?.language }}</td>
                  <td>{{ item?.centerAbout?.fitnessCenterType }}</td>
                  <td>{{ item?.centerAbout?.openSince }}</td>
                </tr>
              </ng-container>

            </ng-container>



            <ng-container *ngFor="let item of itemList">
              <ng-container *ngIf="role === 'modal'">
                <tr>
                  <td>
                    <a href="#" [routerLink]="['../myaccount/', item._id]" [state]="item"><img [src]="
                          item.image !== ''
                            ? item.image
                            : 'https://www.kindpng.com/picc/m/59-597441_clip-art-fitness-models-pics-portable-network-graphics.png'
                        " style="width: 100px" /></a>
                  </td>
                  <td>{{ item?.fullName }}</td>
                  <td>{{ item?.modelAbout?.experience }}</td>
                  <td>{{ item?.modelAbout?.ethnicity }}</td>
                  <td>{{ item?.modelAbout?.modelingInterest }}</td>
                </tr>
              </ng-container>

            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>