<div class="about-us-wrapper">
    <section id="banner">
        <div class="container">
            <div class="mainHeading">
                <h2 class="mainHeadingbG">Terms</h2>
                <div class="secondoryHeading">
                    <h2 class="mainHeadingText">Terms & <span>Conditions</span></h2>
                    <div class="heroUnderLine"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="whoWeAre">
        <div class="container">
            <div class="row">
                <p>{{termsCondition.termsAndConditions}}</p>
            </div>

        </div>
    </section>
</div>