@import "../../abou/menu-about/menu-about.component.scss";
#whoWeAre {
  margin: 4% 0 3%;
}
section {
  display: block;
  .container {
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    padding: 0;
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      color: #8d8f92;
    }
  }
}
