<div class="fitness-center-wrapper">
  <section id="banner">
    <div class="container">
      <div class="mainHeading">
        <h2 class="mainHeadingbG">Fitness Centers</h2>
        <div class="secondoryHeading">
          <h2 class="mainHeadingText">Fitness <span>Centers</span></h2>
          <div class="heroUnderLine"></div>
        </div>
      </div>
    </div>
  </section>
  <app-tabs></app-tabs>
  <ng-container *ngIf="showContent">
    <app-fitness-directory-content [itemList]="fitnessCenterList" role="center"></app-fitness-directory-content>
  </ng-container>
</div>