<div class="about-us-wrapper">
    <section id="banner">
        <div class="container">
            <div class="mainHeading">
                <h2 class="mainHeadingbG">Privacy</h2>
                <div class="secondoryHeading">
                    <h2 class="mainHeadingText">Privacy <span>Policy</span></h2>
                    <div class="heroUnderLine"></div>
                </div>
            </div>

        </div>
    </section>
    <div class="container">
        <p>{{privacyPolicy.privacyPolicy}}</p>
    </div>
</div>
