<div class="about-us-wrapper">
    <section id="banner">
        <div class="container">
            <div class="mainHeading">
                <h2 class="mainHeadingbG">About</h2>
                <div class="secondoryHeading">
                    <h2 class="mainHeadingText">About <span>Us</span></h2>
                    <div class="heroUnderLine"></div>
                </div>
            </div>
        </div>
    </section>
    <app-about-us></app-about-us>
    <app-collaborators></app-collaborators>
</div>