<section>
  <div id="editPost">
    <ul *ngIf="!show && !guestMode">
      <li (click)="toggleIcon()" style="
          float: right;
          align-items: center;
          position: relative;
          top: 50px;
          right: 50px;
        ">
        <a href="#"><i class="{{ buttonicon }}" style="font-size: 1.3rem"></i></a>
      </li>
    </ul>
  </div>
  <div id="main-content" class="py-5 container m-auto">
    <div *ngIf="show" class="d-flex justify-content-center mt-3">
      <form action="" [formGroup]="portfolioForm" class="success_storyForm" (ngSubmit)="OnSubmitPortfilo()">
        <div class="mt-3 container m-auto UpdateSuccessStory">
          <h2 class="my-2 pb-3">Update Success Story</h2>
          <div class="custom-file mb-3">
            <div class="upload_file_field">
              <input type="file" class="form-control" name="img_name" id="before_image" required="" [ngClass]="{
                  'is-invalid': SubmitPortfilo && f.beforeImage.errors
                }" (change)="uploadBeforeImage($event)" />

              <label for="before_image" class="poppins file_upload_label" style="margin-top: 7px">Browse</label>
              <span class="poppins file_name" id="before_image_file_uploaded_name">
                Select Before Image
              </span>
            </div>
            <div *ngIf="SubmitPortfilo && f.beforeImage.errors" class="invalid-feedback">
              <div *ngIf="f.beforeImage.errors.required">
                Before Image is required
              </div>
            </div>

            <div class="mt-5 mb-5">
              <img [src]="f.beforeImage.value" class="image-display" alt="Before Image"
                style="vertical-align: bottom" />
            </div>
          </div>

          <div class="custom-file mt-3 mb-3">
            <div class="upload_file_field">
              <input (change)="uploadAfterImage($event)" type="file" class="form-control" name="img_name"
                id="after_image" [ngClass]="{
                  'is-invalid': SubmitPortfilo && f.afterImage.errors
                }" required="" />

              <label for="after_image" class="poppins file_upload_label" style="margin-top: 7px">Browse</label>
              <span class="poppins file_name" id="after_image_file_uploaded_name">
                Select After Image
              </span>
            </div>
            <div *ngIf="SubmitPortfilo && f.afterImage.errors" class="invalid-feedback">
              <div *ngIf="f.afterImage.errors.required">
                After Image is required
              </div>
            </div>
          </div>

          <div class="mt-5 mb-5">
            <img [src]="f.afterImage.value" class="image-display" alt="After-Image" style="vertical-align: bottom" />
          </div>
        </div>
        <textarea name="" class="form-control" id="" cols="30" rows="10" formControlName="description"
          placeholder="Description of Success Story" [ngClass]="{
            'is-invalid': SubmitPortfilo && f.description.errors
          }"></textarea>
        <div *ngIf="SubmitPortfilo && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">
            description is required
          </div>
        </div>

        <button type="submit" class="btn btn-danger mt-3 py-2 px-3 submit_btn">
          Update
        </button>
        <button type="button" class="btn btn-danger mt-3 mx-2 py-2 px-3 submit_btn" (click)="toggleIcon()">
          Cancel
        </button>
      </form>
    </div>

    <div *ngIf="!show">
      <div class="storysection mt-4" style="background-color: #fff">
        <div class="SuccessStory">
          <h2 class="derlimn-font portfolio_heading fs_d_gray">
            Success stories
          </h2>
        </div>
        <div *ngIf="this.profileInfo.portfolio.length < 1">
          <p class="text-center">No Success Story to show Yet</p>
        </div>

        <section id="storysec" *ngIf="this.profileInfo.portfolio.length >= 1">
          <div class="slider_container">
            <owl-carousel-o [options]="headerSlider" style="height: auto; width: 750px">
              <ng-template carouselSlide>
                <!-- <img [src]="headItem.src"> -->
                <div style="align-items: center"
                  class="row d-flex justify-content-center align-content-center my-4 mx-5">
                  <div class="leftSide col-sm-6 pr-3">
                    <img [src]="f.beforeImage.value" />
                  </div>
                  <div class="rightSide col-sm-6">
                    <img [src]="f.afterImage.value" />
                  </div>
                  <div class="clear"></div>
                  <div>
                    <p style="word-break: break-all; text-align: center">
                      {{ f.description.value }}
                    </p>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
          <div class="del-portfilo w-100 d-flex justify-content-center py-3" style="padding: 57px">
            <button class="d-block btn btn-danger w-100 p-2" type="button" style="
                background: #ff1a1a 0% 0% no-repeat;
                color: #fff;
                font-size: 1.7vw;
              ">
              Delete
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>